.callBubbleContainer {
    border-radius: 12px;
    padding: 12px 16px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.myCall {
    background-color: rgba(51, 55, 85, 0.8);
    color: #ffffff;
}

.theirCall {
    background-color: rgba(51, 55, 85, 0.8);
    color: #ffffff;
}

.callHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.iconWrapper {
    background-color: rgba(240, 242, 245, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nếu là cuộc gọi nhỡ thì icon wrapper có màu đỏ nhạt */
.iconWrapper.missedBg {
    background-color: #ffeef0;
}

.callInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.subtitle {
    margin: 0;
    font-size: 13px;
    opacity: 0.8;
}

.whiteText {
    color: #ffffff !important;
}

.lightText {
    color: rgba(255, 255, 255, 0.9) !important;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 -16px;
}

.myDivider {
    background-color: rgba(255, 255, 255, 0.2);
}

.actionButton {
    padding-top: 10px;
    text-align: center;
    color: #0068ff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


.actionButton:hover {
    opacity: 0.8;
}